<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me: Camila Alfaro</title>
</head>
<body>
    <p>Hola! Mi nombre es Camila Alfaro, actualmente soy estudiante de la carrera Ingeniería de Negocios en ESEN</p>
    <p>Mi numero de carnet es 20204002</p>
    <p>Mi correo electrónico es 20204002@esen.edu.sv</p>
    <p>Mi red social más frecuente es Camila Alfaro en FaceBoook</p>
    <p>Mi usuario en GitHub es CamilaCF22</p>
    <img  src="../imagenes/imagenP.png" alt="">

</body>
</html>