<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style2.css">
    <title>About me: Camila Alfaro</title>
</head>
<body>
    <p>Hola! Mi nombre es Camila Alfaro, actualmente soy estudiante de la carrera Ingeniería de Negocios en ESEN</p>
    <p>Mi numero de carnet es: <b>20204002</b></p>
    <p>Mi correo electrónico es: <b>20204002@esen.edu.sv</b></p>
    <p>Mi red social más frecuente es Camila Alfaro en FaceBoook</p>
    <p>Mi usuario en GitHub es: <b>CamilaCF22</b></p>
    <img  src="../imagenes/imagenP.png" alt="">

</body>
</html>