{% extends 'base.html' %}

{% block title %}Show Users{% endblock title %}

{% block content %}
<h1>Show Users</h1>

<a href="{{ url_for('show_users') }}">Show Users</a>
<table id="customers">
    <tr>
        <th>Id</th>
        <th>Name</th>
    </tr>
    {% for user in personslist %}
    <tr>
        <td>{{ person["id"] }}</td>
        <td>{{ person["name"] }}</td>
        <td><a href="{{ url_for('update_user', id=user['id']) }}">update</a></td>
        <td><a href="{{ url_for('delete_user', id=user['id']) }}">delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}
